# functions that don't depend on other packages
export(
 krige,stackRasterList,
NNmat, gmrfPrecUncond,simLgcp,simPoissonPP,
 lgm, excProb, likfitLgm, loglikLgm
)


useDynLib(geostatsp)
export(matern)
S3method(matern, Raster)
S3method(matern, SpatialPointsDataFrame)
S3method(matern, SpatialPoints)
S3method(matern, dist)
S3method(matern, default)

export(GaussRF)
S3method(GaussRF, Raster)
S3method(GaussRF, SpatialPointsDataFrame)
S3method(GaussRF, SpatialPoints)
S3method(GaussRF, default)
export(grfConditional)

#export(as.im)
S3method(as.im, RasterLayer)

importFrom(parallel, mcmapply)

export(squareRaster)
S3method(squareRaster, matrix) 
S3method(squareRaster, Extent) 
S3method(squareRaster, RasterLayer) 
S3method(squareRaster, BasicRaster) 
S3method(squareRaster, SpatialPoints) 
S3method(squareRaster, SpatialPointsDataFrame) 
S3method(squareRaster, SpatialPolygons) 
S3method(squareRaster, SpatialPolygonsDataFrame) 

export(maternGmrfPrec)
S3method(maternGmrfPrec, dgCMatrix)
S3method(maternGmrfPrec, matrix)
S3method(maternGmrfPrec, default)


export(variog)
S3method(variog, SpatialPointsDataFrame)
S3method(variog, default)


export(variog.mc.env)
S3method(variog.mc.env, SpatialPointsDataFrame)
S3method(variog.mc.env, default)

# Import all packages listed as Imports or Depends
import(
  sp,
  raster,
  Matrix
)

# the following lines aren't needed because 
# calls to these functions are made with ::
# they're listed here for completeness
#importFrom(geoR, variog, variog.mc.env)
#importFrom(pracma, trapz)
# functions which depend on RandomFields
#importFrom(RandomFields, CondSimu)
#importFrom(RandomFields, GaussRF)
#importFrom(spatstat,as.im,as.im.matrix)

